
a{
    text-decoration: none;
    color: black;
    
}

/* pag login*/

.login{
    box-shadow: 0px 0px 15px #343232;
    display: flex;
    gap: 0;
    width: 70%;
    height: 80%;
    margin: auto;
    margin-top: 5%;
    border-radius: 8px;

}
.login-form{
    padding: 60px;
    border-top-left-radius: 8px; 
    border-bottom-left-radius: 8px; 

}
.img-logo{
    width: 60%;
    margin-right: 60px;
}
form{
    margin-top: 50px;
}
form h1{
    margin-right: 90px;
}
.box-inp{
    margin-bottom: 20px;
}
.box-inp label{
    font-size: 20px;
}
.box-inp input{
    border: .5px solid #38363688;
    border-radius: 8px;
    width: 350px;
    height: 30px;
}
.but-login{
    width: 300px;
    height: 35px;
    background-color: #2196f3;
    color: #eee;
    border: none;
    border-radius: 8px;
    font-size: 25px;
    margin-top: 40px;
    margin-right: 30px;
    padding: 5px;

}
#link2{
    position: absolute;
    margin-right: 140px;
    margin-top:10px;
}
.img-user{
    width: 600px;
    height: 600px;
    border-radius: 8px;
    box-shadow: 2px 0px 10px #343232;

}
/* start pag product*/
nav{
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
}
nav a{
    color: #343232;
    font-size: 20px;
    margin-right: 10px;
}

nav a:active{
    color: black;
}
.barent{
    margin-right: 200px;
    display: flex;
}
.description{
    border:1px solid gray;
    border-radius: 5px;
    border-top: 3px solid rgb(216 176 142);
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}
.description p{
    font-size: 14px;
}
button{
    cursor: pointer;/*لتغير شكل الماوس */
}
.buttons{
    display: flex;
    
}

.img-product{
    width: 700px;
}
.description-product{
    display: flex;
    gap: 200PX;
}
.buttons{
    margin-top: 50px;
    margin-right: 40px;
    display: flex;
    gap: 15px;
}
.buttons button{
    height: 35PX;
    width: 140px;
    border: 1px solid rgb(154, 153, 153);  
    font-size: 18px;
    border-radius: 8px;
    padding: 10px;
}
#but-bottom{
    margin-top: 40px;
    margin-right: -155px;
}
.table{
    border:1px solid gray;
    border-radius: 5px;
    border-top: 3px solid rgb(216 176 142);
    width: 103%;
    margin-top: 20px;

}
.table h3{
    margin-right: 20px;

}
table{
    width: 100%;
    max-width: 100% ;
    background-color: transparent;
    margin-bottom: 1rem;
}
table td {
    padding: 0.75rem;                                                                                                                                   
    border-top:1px solid rgb(233, 236, 239);
}
.head-tabel{
    font-size: 20px;
    color: #343232;
}
.img-left{
    display: block !important;      
    height: 100%;
    margin-right: 100px;
}
#box{
    border:1px solid gray;
    border-radius: 5px;
    border-top: 3px solid rgb(216 176 142);
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}
/*start footer*/
/* footer{
    
    margin-top:50px ;
    border-top: 5px solid rgba(255,208,7);
    background-color: rgb(241, 241, 241);
    font-size: 18px;
    
}
.box-footer{
    display:flex;
    gap: 100px;
    margin-right: 150px;
    margin-top: 20px;
}
footer p{
    max-width: 300px;
    color: #343232;
}
ul{
    list-style: none;
    margin-right: -20px;
    color: #343232;

}
ul li{
    margin-bottom: 5px;
}
footer input{
    font-size: 18px;
    padding: 5px;
    background-color:  rgb(241, 241, 241);
    border: 1px solid #343232 ;
    border-radius: 8px;
}
footer button{
    font-size: 20px;
    color: #eee;
    background-color: #7e57c6;
    border: none;
    border-radius: 8px ;
    width: 100px;
    padding: 5px;
}
.end-pag{
    font-weight:bold ;
    font-size: 20px;
    text-align: center;
    max-width: none;
} */

/*staret home*/
*{
    margin: 0;
    padding: 0;
}
.hader-line{
    background: linear-gradient(to right, rgba(255,208,7) 0%, rgba(255,208,7) 12.5%,rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%);
    height: 8px;
    width: 100%;
}
nav{
    margin-top: 20px;
}
nav .left{
    float: left;
    display: flex;
    gap: 30px;
    

}
nav .left div{
    text-align: center;
}
nav .left button{
    background-color: rgb(73, 185, 117);
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 8px;
    font-weight:bold ;
}
.main{
    background-image: url('img/slider-2.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    height: 350px;
}

.main .card{
    float: left;
    margin-left: 100px;
    margin-top: 30px;
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 20px;
}
.card h1{
    text-align: center;
}
.card .Welcome{
    margin-top: 15px;
}
.Welcome label{
    font-size: 18px;
    font-weight: 200;
}
.card input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid grey;
    padding-top: 5px;
    padding-bottom: 5px;
}
.card input ::placeholder{
    color: gray;
}
.card button{
    width: 100%;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #7600d9;
    color: white;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
}
.category{
    margin-left: 100px;
    margin-right: 100px;
}
.category h1 {
    padding-top: 20px;
}
.category p{
    float: left;
}
.items{
    margin-top: 20px;
    display: flex;
    gap: 25px;
    overflow: hidden;
    overflow-x: scroll;
    text-align: center;
    white-space: nowrap;
    padding-bottom: 10px;
}

.item img {
    border: none;
    border-radius: 50%;
    background-color: white;
    width: 75px;
    box-shadow: 0px 5px 3px grey;
}
.section-1{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.section-1-card{
    background-color: rgb(255, 255, 255);
    /* box-shadow: 10px 10px 10px grey; */
    width:415px;
    border-bottom: 1px solid grey;
    border-radius: 5px;
}
.section-1-card img{
    width: 100%;
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.section-1-card .text-card{
    padding-right: 20px;
    padding-top: 20px;
}
.section-1-card .text-card p{
    margin-top: 10px;
    margin-bottom: 30px;
}
.img-mobile{
    background-image: url('img/adv2-mobile.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 100px;
    margin-right: 100px;
    height: 300px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}
.section-1-card h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom : 20px;
}
.footer-line{
    background: linear-gradient(to right, rgba(255,208,7) 0%, rgba(255,208,7) 12.5%,rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%);
    height: 8px;
    width: 100%;
    margin-top: 30px;
}
.footer{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer .Connect{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.footer ul{
    padding-top: 5px;
}
.footer ul li{
    list-style-type: none;
    padding-bottom: 5px;
}
#max-text{
    max-width: 150px;
}
.WhatsApp p {
    padding-top: 15px;
    max-width: 300px;
}
.WhatsApp input{
    border: 1px solid grey;
    padding-top: 5px;
    font-size: 18px;
    margin-top: 10px;
}
.WhatsApp button{
    border: none;
    background-color: #7e57c6;
    color: #eee;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    margin-top: 10px;


}