*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
.hader-line{
    background: linear-gradient(to right, rgba(255,208,7) 0%, rgba(255,208,7) 12.5%,rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%);
    height: 8px;
    width: 100%;
}
.img-s{
    width: 100%;
    height: 250px;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
}
body{
    background-color: #fffefe;
}
.carousel{
    margin-top: 15px;
}
.buttons{
    margin-top: 50px;
}
.buttons button{
    width: 140px;
    border: 1px solid rgb(154, 153, 153);  
    font-size: 18px;
    border-radius: 8px;
    padding-right: 10px;
    padding-top: 10px;
    margin-bottom: 5px;
}
.description{
    border:1px solid gray;
    border-radius: 5px;
    border-top: 3px solid rgb(216 176 142);
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}
.table{
    border:1px solid gray;
    border-radius: 5px;
    border-top: 3px solid rgb(216 176 142);
    margin-top: 20px;
}
.table h3{
    margin: 20px;

}
table{
    width: 100%;
    background-color: transparent;
    margin-bottom: 1rem;
}
table td {
    padding: 0.75rem;                                                                                                                                   
    border-top:1px solid rgb(233, 236, 239);
}
.head-tabel{
    font-size: 20px;
    color: #343232;
}
#box{
    border:1px solid gray;
    border-radius: 5px;
    border-top: 3px solid rgb(216 176 142);
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}
.items{
    background-color: #f9f7f6;
    /* width: 100%;
    height: 100%; */
    margin-top: 15px;
    padding-left: 100px;
    padding-right: 100px;
}
.items h3{
    color: black;
    font-weight: bold;
    padding-right: 15px;
    padding-top: 15px;
}
.items .card{
    margin-right: 20px;
    padding: 20px;
}
.card{
    border-radius: 10px;
    border: none;
    box-shadow: 0px 5px 10px  #706f6f;
    margin-top: 15px;
    margin-bottom: 40PX;
}
.card-text{
    background-color: #ddd;
    border-radius: 8px;
}
.card h6, h5, p{
    color: #706f6f;
}
.card p{
    font-size: 14px;
    
}

.pr{
    background-color: #ddd;
    border-radius: 8px;
}
.img-end{
    width: 80%;
    height: 250px;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 100PX;
    margin-right: 100PX;
}
.footer{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer .Connect{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.footer ul{
    padding-top: 5px;
    padding-right: 0;
}
.footer ul li{
    list-style-type: none;
    padding-bottom: 5px !important  ;
    
}
#max-text{
    max-width: 150px;
}
.WhatsApp p {
    padding-top: 15px;
    max-width: 300px;
}
.WhatsApp input{
    border: 1px solid grey;
    padding-top: 5px;
    font-size: 18px;
    margin-top: 10px;
}
.WhatsApp button{
    border: none;
    background-color: #7e57c6;
    color: #eee;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    margin-top: 10px;


}
#end{
    text-align: center;
}
