
a{
    text-decoration: none;
    color: black;
    
}

/* pag login*/

.login{
    box-shadow: 0px 0px 15px #343232;
    display: flex;
    gap: 0;
    width: 70%;
    height: 80%;
    margin: auto;
    margin-top: 5%;
    border-radius: 8px;

}
.login-form{
    padding: 60px;
    border-top-left-radius: 8px; 
    border-bottom-left-radius: 8px; 

}
.img-logo{
    width: 60%;
    margin-right: 60px;
}
form{
    margin-top: 50px;
}
form h1{
    margin-right: 90px;
}
.box-inp{
    margin-bottom: 20px;
}
.box-inp label{
    font-size: 20px;
}
.box-inp input{
    border: .5px solid #38363688;
    border-radius: 8px;
    width: 350px;
    height: 30px;
}
.but-login{
    width: 300px;
    height: 35px;
    background-color: #2196f3;
    color: #eee;
    border: none;
    border-radius: 8px;
    font-size: 25px;
    margin-top: 40px;
    margin-right: 30px;
    padding: 5px;

}
#link2{
    position: absolute;
    margin-right: 140px;
    margin-top:10px;
}
.img-user{
    width: 600px;
    height: 600px;
    border-radius: 8px;

}
/* start pag product*/
nav{
    margin-right: 200px;
    margin-bottom: 20px;
}
nav a{
    color: #343232;
    font-size: 20px;
    margin-right: 10px;
}

nav a:active{
    color: black;
}
.barent{
    margin-right: 200px;
    display: flex;
}
.description{
    border:1px solid gray;
    border-radius: 5px;
    border-top: 3px solid rgb(216 176 142);
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}
.description p{
    font-size: 14px;
}
button{
    cursor: pointer;/*لتغير شكل الماوس */
}
.buttons{
    display: flex;
    
}

.img-product{
    width: 700px;
}
.description-product{
    display: flex;
    gap: 200PX;
}
.buttons{
    margin-top: 50px;
    margin-right: 40px;
    display: flex;
    gap: 15px;
}
.buttons button{
    height: 35PX;
    width: 140px;
    border: 1px solid rgb(154, 153, 153);  
    font-size: 18px;
    border-radius: 8px;
    padding: 10px;
}
#but-bottom{
    margin-top: 40px;
    margin-right: -155px;
}
.table{
    border:1px solid gray;
    border-radius: 5px;
    border-top: 3px solid rgb(216 176 142);
    width: 103%;
    margin-top: 20px;

}
.table h3{
    margin-right: 20px;

}
table{
    width: 100%;
    max-width: 100% ;
    background-color: transparent;
    margin-bottom: 1rem;
}
table td {
    padding: 0.75rem;                                                                                                                                   
    border-top:1px solid rgb(233, 236, 239);
}
.head-tabel{
    font-size: 20px;
    color: #343232;
}
.img-left{
    display: block !important;      
    height: 100%;
    margin-right: 100px;
}
#box{
    border:1px solid gray;
    border-radius: 5px;
    border-top: 3px solid rgb(216 176 142);
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}
/*start footer*/
footer{
    
    margin-top:50px ;
    border-top: 5px solid rgba(255,208,7);
    background-color: rgb(241, 241, 241);
    font-size: 18px;
    
}
.box-footer{
    display:flex;
    gap: 100px;
    margin-right: 150px;
    margin-top: 20px;
}
footer p{
    max-width: 300px;
    color: #343232;
}
ul{
    list-style: none;
    margin-right: -20px;
    color: #343232;

}
ul li{
    margin-bottom: 5px;
}
footer input{
    font-size: 18px;
    padding: 5px;
    background-color:  rgb(241, 241, 241);
    border: 1px solid #343232 ;
    border-radius: 8px;
}
footer button{
    font-size: 20px;
    color: #eee;
    background-color: #7e57c6;
    border: none;
    border-radius: 8px ;
    width: 100px;
    padding: 5px;
}
.end-pag{
    font-weight:18px ;
    font-size: 20px;
    text-align: center;
    max-width: none;
}